<a href="https://colab.research.google.com/github/khm9309/A/blob/main/py_a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#CH1. 파이썬 문법  
##  자료형  
줄바꿈  
* 스페이스 두번 or 역슬레쉬 

**숫자형**  
* 정수 : 123, 456, 0, -30  
* 실수 : 12.345, -987,65, 0.7e6
* 8진수 : 0o765, 0o123
* 16진수 : 0x0D, 0x0A, 0xFF

**변수**  
* 문자 또는 밑줄로 시작 가능함 [(ex) _kim, alpha 등등]
* 대소문자 구분 ( sum, Sum, SUM 다 다르게 인식한다 )
* 영문자, 숫자, 밑줄 ( A~Z, 0~9, _ )
 ex) sun_9, Alpha, s9n 등이 가능 
* 파이썬 키워드 (print...)


**표기법**  
표기법은 편한것 사용하면 된다.  
+ 카멜(낙타) 표기법 : myName (두번째 단어를 대문자로 낙타등 처럼)
+ 스네이크(뱀) 표기법 : my_name (밑줄을 넣어 표기)
+ 파스칼 표기법 : MyName (두단어 모두 대문자로 표기)

In [ ]:
a = 10
b = 20
f = "10"
c = a + b

In [ ]:
a = 10
b = 20
c = "10"
d = "20"
print(a+b)
print(type(a))
print(type(c))
print(c+d)
print(c,d)

30
<class 'int'>
<class 'str'>
1020
10 20

In [ ]:
# 나눗셈
a = 10
b = 3
c = a / b
d = a // b # 몫
e = a % b # 나머지
print(c)
print(d)
print(e)

3.3333333333333335
3
1

In [ ]:
# 곱셈
a = 10
b = 3
c = a * b #곱하기
d = a ** b # 제곱
print (c,d)

30 1000

#### 문자열
1. 큰 따옴표 : "권혁민"
2. 작은 따옴표 : '권혁민'
3. 큰 따옴표 3개 : """권혁민"""
4. 작은 따옴표 3개 : '''권혁민'''
5. " 동해물과 백두산이 마르고 닳도록 우리나라 좋은나라 "

In [ ]:
# 변수  
myName = "Kwon HyeokMin"
my_name = "권혁민"
_my_name = "권혁민"
MYNAME = "권혁민"
my2name = "권혁민"  

 # 안되는 예시들
 # 2myname = "권혁민"
 # my-name = "권혁민"  

myName1 = 1234
myName2 = "1234"
print(type(myName1))
print(type(myName2))

<class 'int'>
<class 'str'>

변수할당

In [ ]:
a=b=c= "브라보콘"
print(a)
print(b)
print(c)

브라보콘
브라보콘
브라보콘

In [ ]:
x,y,z="딸기","포도","바나나"
print(x)
print(y)
print(z)

딸기
포도
바나나

In [ ]:
fruits = ["누가바","쌍쌍바","보석바"]
x,y,z = fruits
print(x)
print(y)
print(z)

누가바
쌍쌍바
보석바

In [ ]:
x = "life"
y = "is"
z = "beautiful!"
print(x,y,z)
print(x+y+z)
# print() 안에서 , 는 한칸 띄어쓰고 + 는 붙여쓴다

life is beautiful!
lifeisbeautiful!

In [ ]:
a = 1
b = 2
c = 3
print(a+b+c)
print(a,b,c)

6
1 2 3

In [ ]:
a = '1'
b = '2'
c = '3'
print(a+b+c)
print(a,b,c)

123
1 2 3

In [ ]:
# len  길이를 알 수 있다

a = "123456"
b = [2,3,4,5]
print(len(a))
print(len(b))

6
4

In [ ]:
# 계산기
a = 100
b = 200
result = a+b
print(a,'+',b,'=',result)
result = a - b
print(a,'-',b,'=',result)
result = a / b
print(a,'/',b,'=',result)
result = a * b
print(a,'*',b,'=',result)

100 + 200 = 300
100 - 200 = -100
100 / 200 = 0.5
100 * 200 = 20000

In [ ]:
a = "1234"
b = 5678
c = int(a) + b
print(c)

6912

In [105]:
# 계산기 2  - input은 사용자가 숫자를 입력하는것
num1 = input("숫자입력1: ")
num2 = input("숫자입력2: ")

print(type(num1))
a = int(num1)
b = int(num2)
result = a + b;
print(a,'+',b,'=',result)
result = a - b;
print(a,'-',b,'=',result)
result = a * b;
print(a,'*',b,'=',result)
result = a / b;
print(a,'/',b,'=',result)

KeyboardInterrupt: ignored

In [ ]:
# 자기이름, 전화번호, 키 x 100
name = input("이름: ")
result = name
number = input("전화번호: ")
result = number
num1 = input("택배(g)x100: ")
a = int(num1)
result = int(num1)*100
print("결과값 =", a,"X 100원 =",result,"원 입니다.")

이름: asd
전화번호: asd
택배(g)x100: 10
결과값 = 10 X 100원 = 1000 원 입니다.

# CH2. 서식 출력 print()

In [ ]:
print("%d" % 123)
print("%5d" % 123)
print("%05d" % 123)

print("%f" % 123.45)
print("%7.1f" % 123.45)
print("%7.3f" % 123.45)

print("%c" % "1")
print("%s" % "가나다라")
print("%6s" % "abcd")

123
  123
00123
123.450000
  123.5
123.450
1
가나다라
  abcd

####순서 지정 기능 : format

In [ ]:
print( "{0:d}, {1:5d}, {2:05d}". format(123,456,789) )
print( "{2:d}, {1:5d}, {0:05d}". format(123,456, 789) )
print( "{2},{1:5s}, {0:05d}". format(123,"456", "a", 789) )

123,   456, 00789
789,   456, 00123
a,456  , 00123

서식출력

In [ ]:
print("\n줄 바꿈 명령어 \n연습 입니다")

줄 바꿈 명령어
연습 입니다

In [ ]:
print("\t탭키 명령 연습입니다.")

	탭키 명령 연습입니다.

In [ ]:
print("따옴표 글자가 \"강조\"되는 효과")
print("따옴표 글자가 \'강조\"되는 효과")
print("역슬레쉬 3개를 출력하려면 \\\\\\ 6개")
print(r"\n \t \" \\ \' @를 그대로 출력")

따옴표 글자가 "강조"되는 효과
따옴표 글자가 '강조"되는 효과
역슬레쉬 3개를 출력하려면 \\\ 6개
\n \t \" \\ \' @를 그대로 출력

#### 관계 연산자

In [ ]:
a,b=10,20
print(a==b,a!=b,a>=b,a<=b,a>b,a<b)

False True False True False True

#### 논리연산자 and ,or ,not

In [ ]:
a=150
print((a>100) and (a<200)) #100<a<200
print((a<100) or (a>200)) # a<100, 200<a
print(not(a==100)) # a<100, 100<a

True
False
True

In [ ]:
## if -> 0이 아닌 숫자는 참이다
if(120):
  print("참이면 실행되어 보임 거짓이면 실행을 안한다")
if(0):
  print("거짓이다")

참이면 실행되어 보임 거짓이면 실행을 안한다

#### 퀴즈2 // 몫 % 나머지  
money = int(input("입력: "))   
지폐 금액 입력 후 동전으로 교환시 최소화해서 동전을 출력하게끔  
(500원, 100원, 50원, 10원)  
money, c500, c100, c50, c10  
받은돈 : ?원  
500원 : ?개  
100원 : ?개  
50원 : ?개  
10원 : ?개  
나머지 : ?원

In [ ]:
money,c500,c100,c50,c10=0,0,0,0,0
money = int(input("동전으로 교환할 돈: "))
temp = money
c500 = money // 500 # 몫
money %= 500 #money = money % 500 왼쪽 식과 같은 뜻
c100 = money // 100
money %= 100
c50 = money // 50
money %= 50
c10 = money // 10
money %= 10

print("입력받은 돈은 %d원" % temp )
print("500원 동전 :%d" % c500, "개")
print("100원 동전 :%d" % c100, "개")
print("50원 동전 :%d" % c50, "개")
print("10원 동전 :%d" % c10, "개")
print("나머지 잔돈 : %d" % money, "원")

동전으로 교환할 돈: 2564
입력받은 돈은 2564원
500원 동전 :5 개
100원 동전 :0 개
50원 동전 :1 개
10원 동전 :1 개
나머지 잔돈 : 4 원

### 조건문

In [ ]:
a = 50
if(a < 100):
  print("100보다 작으면 참")
  print("거짓이면 이문장은 보이지 않음")
print("프로그램 끝")

100보다 작으면 참
거짓이면 이문장은 보이지 않음
프로그램 끝

In [ ]:
a = 200
if(a<100):
  print("참 : 100보다 작음")
else :
  print("거짓 : 100보다 큼")
print("프로그램 끝")

거짓 : 100보다 큼
프로그램 끝

In [ ]:
## 홀짝 구분
a = int(input("숫자 입력 :"))
b = a % 2
if(b==0):
  print("짝수 입니다.")
else:
  print("홀수 입니다.")

숫자 입력 :123
홀수 입니다.

In [ ]:
a = int(input("숫자 입력:"))
if(a > 50):
  if(a<100):
    print("50<a<100")
  else:
    print("a>100")
else:
  if(a>25):
   print("25<a<50")
  else:
   print("a<25")
print("프로그램 끝")

숫자 입력:30
25<a<50
프로그램 끝

In [ ]:
fruit = ['사과','배','샤인머스켓','바나나']
fruit.append('망고')   #빠진 것을 추가할 떄 append 사용
if '망고' in fruit :
  print("망고가 있습니다.")
else:
  print("망고가 없습니다.")
print(fruit)

망고가 있습니다.
['사과', '배', '샤인머스켓', '바나나', '망고']

In [ ]:
for i in range(1,10,2): # 초기값, 최대값, 증가값 ->증가값이 1일 경우 생략도 가능하다.
  print("%d 안녕하세요." % i)
print("환영합니다.^^*")

1 안녕하세요.
3 안녕하세요.
5 안녕하세요.
7 안녕하세요.
9 안녕하세요.
환영합니다.^^*

In [ ]:
import random
num = []
for i in range(0,6):
  num.append(random.randrange(1,46))
print("생성 리스트", num)

생성 리스트 [11, 31, 38, 43, 13, 13]

In [ ]:
for i  in range(1,9,1):
  print("%d" % i, end='\t')
print("\n")
for i  in range(1,9,1):
  print("%d" % i, end='\t')

1	2	3	4	5	6	7	8

1	2	3	4	5	6	7	8

In [ ]:
sum = 0
for i in range(1, 11, 1): #10까지 출력하고 싶으면 0부터 시작이므로 최대값 11로 입력
  sum = sum + i
print("1부터 10까지의 합: %d" % sum)

1부터 10까지의 합: 55

In [ ]:
sum, num = 0, 0
num = int(input("숫자입력:"))
for i in range(1, num+1, 1): # 0부터 시작이므로 num +1 꼭 1을 더해야 한다.
  sum = sum + i
print("1~",num,"까지의 합: %d" % sum)

숫자입력:1000
1~ 1000 까지의 합: 500500

In [ ]:
##구구단
i,j = 2,0
for j in range(1, 10, 1):
  print("%d x %d = %2d" % (i,j,i*j))

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [ ]:
a,b=0,0
#k= int(input("구구단 단수 입력 : "))
for a in range(1,10):
  for b in range(2,6):
    print("%d x %d = %2d" % (b,a,a*b), end="\t")
  print("")
print("\n")
c,d=0,0
for c in range(1,10):
  for d in range(6,10):
    print("%d x %d = %2d" % (d,c,c*d), end="\t")
  print("")

2 x 1 =  2	3 x 1 =  3	4 x 1 =  4	5 x 1 =  5
2 x 2 =  4	3 x 2 =  6	4 x 2 =  8	5 x 2 = 10
2 x 3 =  6	3 x 3 =  9	4 x 3 = 12	5 x 3 = 15
2 x 4 =  8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45


6 x 1 =  6	7 x 1 =  7	8 x 1 =  8	9 x 1 =  9
6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

# CH3. 자료형

## 1. 리스트 인덱스, 슬라이싱

In [2]:
a = [1,2,3,4,5,6,7,8,9]
print(a)
print(a[0])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
1

In [4]:
a = [1,2,3,4,5,6,7,8,9]
print(a[-1])
print(a[-2])

9
8

In [6]:
a = [1,2,3,4,5,6,7,8,9]
print(a[0:9:2])
print(a[1:9:2])

[1, 3, 5, 7, 9]
[2, 4, 6, 8]

In [7]:
a = [1,2,3,4,5,6,7,8,9]
print(a[:4])
print(a[5:])

[1, 2, 3, 4]
[6, 7, 8, 9]

In [8]:
a = [1,2,3,4,5,6,7,8,9]
print(len(a))
print(len(a)-1)

9
8

In [14]:
b = [1,2,3,4,5,6]
b[0] = "apple"
b[1] = 99
b[5] = [1,2,3]
print(b)

['apple', 99, 3, 4, 5, [1, 2, 3]]

In [16]:
a = [1,2,3]
b = [4,5,6]
c = a + b
print(a+b)
print(c)
print(c*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

#함수 이용

In [22]:
k = ["a","b","c","d","c"]
k.remove("c")
k.append("f")
print(k)

['a', 'b', 'd', 'c', 'f']

In [24]:
j = "God is love!"
print(j[:3])
print(j[4:6])
print(j[7:])

God
is
love!

In [26]:
j = " God is love! "
print(j.upper()) # 모두 대문자로
print(j.lower()) # 모두 소문자로
print(j.strip()) # 양옆의 공백을 없앤다다

 GOD IS LOVE!
 god is love!
God is love!

In [28]:
a = ["apple", "banana", "cherry"]
a.append("Orange")
print(a)

['apple', 'banana', 'cherry', 'Orange']

In [29]:
a = ["apple", "banana", "cherry"]
a.insert(1,"Orange") #지정한곳에 삽입
print(a)

['apple', 'Orange', 'banana', 'cherry']

In [30]:
a = ["apple", "banana", "cherry", "banana"]
a.remove("banana") # 앞순서부터 지정된 값이 있으면 삭제한다.(전체 삭제가 아닌 앞에서부터 정해진 자료 첫번째만 삭제)
print(a)

['apple', 'cherry', 'banana']

In [35]:
a = ["apple", "banana", "cherry"]
a.pop() #맨뒤 지움
print(a)
a.pop(1) #맨뒤에서 첫번째 자료(정해진 순서의 자료 0부터 시작이므로 뒤에서 두번째) 지움
print(a)

['apple', 'banana']
['apple']

In [36]:
fruit = ["사과", "배", "오렌지"] # for문 안에 넣었으므로 하나씩 출력되었다
for i in fruit:
  print(i)

사과
배
오렌지

In [37]:
fruit = ["감", "밤", "대추"] # for i in  range(1,10,2): -> 1부터 10까지 2칸마다 하나씩 출력 이란 뜻이므로 아래는 fruit 리스트의 길이가 3이므로 3번 출력된 것이다.
for i in range(len(fruit)):
  print(fruit)

['감', '밤', '대추']
['감', '밤', '대추']
['감', '밤', '대추']

In [39]:
a = [7,5,3,8,2,0,1,4,6,9]
a.sort()
print(a)
a.sort(reverse = True)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [44]:
fruit = ["Kiwi", "apple", "Orange", "banana"]
fruit.sort() #문자를 알파벳 순서로 나열하나 대문자를 우선시 한다
print(fruit)
fruit.sort(key=str.lower) #문자를 대소문자 구분 없이 알파벳 순서로 나열한다
print(fruit)
fruit.reverse() #나열된 문자를 반대로 다시 나열한다다
print(fruit)

['Kiwi', 'Orange', 'apple', 'banana']
['apple', 'banana', 'Kiwi', 'Orange']
['Orange', 'Kiwi', 'banana', 'apple']

In [46]:
# List 복사
fruit = ["kiwi", "apple", "Orange", "banana"]
myList = fruit.copy()
print(myList)
cyList = list(fruit)
print(cyList)

['kiwi', 'apple', 'Orange', 'banana']
['kiwi', 'apple', 'Orange', 'banana']

## 2. Tuple 튜플

리스트와 비슷하지만 값을 변경할 수 없는 특징이 있다 (삭제 추가 불가능)  
튜플은 *소괄호*를 사용한다 (중요! 괄호 차이로 리스트와 튜플을 분류한다)  
ex) t = ( 1,2,3 )  
type t 로 분류한다 (list 는 타입이 L 이다)  
리스트에서 활용하는 여러함수들도 튜플에서 사용불가한다  
상수적인 특성이 있어 연산이 빠르다  
값의 변경이 불가능하지만 100프로는 아님 (특정함수로만 변경 가능)

In [47]:
l = [1,2,3]
t = (5,6,7)
print(type(l))
print(type(t))

<class 'list'>
<class 'tuple'>

In [52]:
l = [1,2,3]
t = (5,6,7)
l[0] = 4
# t[0] = 8 튜플은 변경이 불가능 하다다
print(l)
print(t)

[4, 2, 3]
(5, 6, 7)

In [53]:
f = ("apple", "banana", "cherry") #튜플 자료형도 길이는 동일하게 구할 수 있다.
print(len(f))

3

In [57]:
# 하나의 자료만 사용할 때에는는 튜플로 인식하려면 사용하려면 자료료 뒤에 ',' (콤마) 가 반드시 필요하다 콤마없이 자료하나만 넣을경우 스트링으로 인식한다.
t = ("Kiwi")
print(t)
print(type(t))
T = ("Kiwi",)
print(T)
print(type(T))

Kiwi
<class 'str'>
('Kiwi',)
<class 'tuple'>

In [59]:
# 인덱싱 가능
f = ("banana", "apple", "kiwi", "cherry", "Orange")
print(f[:4])
print(f[2:])

('banana', 'apple', 'kiwi', 'cherry')
('kiwi', 'cherry', 'Orange')

In [61]:
# if 문안에도 사용 가능 if, else 뒤에는 ':' 를 꼭 넣어야 한다.
f = ("banana", "apple", "kiwi", "cherry", "Orange")
if "apple" in f:
  print("Yes")
else:
  print("no")

Yes

## Tuple <-> List
튜플을 리스트로 변경하는 방법  
튜플을 변경하려면 리스트로 변환하여 내용을 변경한 후  
다시 튜플로 변환 하여야 한다.

In [63]:
# 튜플에 추가하는 방법  (튜플을 아래처럼 리스트로 변경후 자료 추가한 다음 다시 튜플로 변환한다)
t = ("apple", "banana", "cherry")
y = list(t)
print(type(y))
y.append("Orange")
t = tuple(y)
print(t)

<class 'list'>
('apple', 'banana', 'cherry', 'Orange')

In [67]:
# List -> Tuple
company = ["LG", "SK", "Apple"]
t = tuple(company)
print(company)
print(type(company))
print(t)
print(type(t))

['LG', 'SK', 'Apple']
<class 'list'>
('LG', 'SK', 'Apple')
<class 'tuple'>

In [68]:
c = ("LG", "SK", "Apple")
d = ("Samsung",)  # 튜플 자료형 하나면 꼭 뒤에 콤마 넣기
c +=d # 왼쪽은 c = c + d 를 간략화 한 식이다.
print(c)

('LG', 'SK', 'Apple', 'Samsung')

In [69]:
t = ("감", "밤", "대추")
l = list(t)
l.remove("대추")
t = tuple(l)
print(t)

('감', '밤')

## 3. Dict 사전자료형
정수형 인덱스가 아닌 키로 값을 저장하기 때문에  
저장된 자료의 순서는 의미가 없다.  
중괄호로 정의한다 -> d = {'a'=1, 'b'=2, 'c'=3}  
키와 값으로 저장!  
여기서 사전자료형의 키 값은 변경이 불가능한 객체이다  
값의 추가 수정이 매우 용이함  
기존의 키에 값을 넣으면 값이 변경됨  
기존에 없는 키를 넣으면 추가하여 저장된다  
(Keys, Values, items)로 값을 불러올 수 있다

In [74]:
d = {
    "a":1,
    "b":2,
    "c":3
}
print(d)
print(type(d))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

In [75]:
d = {
    "a":1,
    "b":2,
    "c":3
}
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])

In [81]:
car = {
    "maker" : "Hyundai",
    "model" : "Pony2",
    "year" : 1994
}
print(car)
print(len(car))
car["year"] = 2000
print(car)
car["color"] = "blue"
print(car)
print(car["maker"])

{'maker': 'Hyundai', 'model': 'Pony2', 'year': 1994}
3
{'maker': 'Hyundai', 'model': 'Pony2', 'year': 2000}
{'maker': 'Hyundai', 'model': 'Pony2', 'year': 2000, 'color': 'blue'}
Hyundai

In [85]:
car = {
    "maker" : "BMW",
    "model" : "740Li",
    "year" : 2023
}
car.pop("model") # 해당 키 값 삭제제
print(car)

{'maker': 'BMW', 'year': 2023}

In [86]:
car = {
    "maker" : "BMW",
    "model" : "740Li",
    "year" : 2023
}
car.popitem()  # 맨뒤에있는 자료 삭제
print(car)

{'maker': 'BMW', 'model': '740Li'}

In [88]:
car = {
    "maker" : "BMW",
    "model" : "740Li",
    "year" : 2023
}
car.clear()
print(car)
car["maker"] = "KIA"
print(car)

{}
{'maker': 'KIA'}

In [92]:
car = {
    "maker" : "BMW",
    "model" : "740Li",
    "year" : 2023
}
del car
## print(car) -> car 항목 자체가 지워지기 때문에 출력할 수 없다 (없는 항목을 출력하라고 인식하기 때문)

In [94]:
car = {
    "maker" : "BMW",
    "model" : "i4",
    "year" : 2023
}
for x in car:
  print(car[x])
  # for 문을 사용하여 car 안의 '값'을 전부 출력

BMW
i4
2023

In [95]:
car = {
    "maker" : "BMW",
    "model" : "i4",
    "year" : 2023
}
for x in car.keys():
  print(x)
  # for 문을 사용하여 key값만 가져와 출력

maker
model
year

In [96]:
car = {
    "maker" : "BMW",
    "model" : "i4",
    "year" : 2023
}
for x in car.values():
  print(x)
  # for 문을 사용하여 value값만 가져와 출력

BMW
i4
2023

In [99]:
car = {
    "maker" : "BMW",
    "model" : "i4",
    "year" : 2023
}
for x,y in car.items():
  print(x,y)
  # for 문을 사용하여 item값을 가져와 출력. items는 값이 한쌍이므로 임의의 값을 x,y두개를 넣어줘야 한다.

maker BMW
model i4
year 2023

In [100]:
car = {
    "maker" : "BMW",
    "model" : "i4",
    "year" : 2023
}
myCar = car.copy()
print(myCar)
# 복사하는 방법은 동일하다

{'maker': 'BMW', 'model': 'i4', 'year': 2023}

In [102]:
food = {
    "brand" : "Lotte",
    "model" : "Ice Cream",
    "Price" : 2000
}
myFood = dict(food)
print(myFood)

{'brand': 'Lotte', 'model': 'Ice Cream', 'Price': 2000}

In [104]:
name1 = {"name":"김삿갓", "year":1900}
name2 = {"name":"홍길동", "year":1800}
name3 = {"name":"김유진", "year":2000}
family = {
    "name1" : name1,
    "name2" : name2,
    "name3" : name3
}
print(family)

{'name1': {'name': '김삿갓', 'year': 1900}, 'name2': {'name': '홍길동', 'year': 1800}, 'name3': {'name': '김유진', 'year': 2000}}

In [129]:
a = {"name1":"","num1":"","name2":"","num2":"","name3":"","num3":""}

for i in car.items():
  namei= input("이름: "),
  numi= input("전화번호: ")
print(a)



##for x in car.values():
##for i in range(len(fruit)):
##for x,y in car.items():
## print(x,y)

SyntaxError: ignored