<a href="https://colab.research.google.com/github/khm9309/A/blob/main/py_a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#CH1. 파이썬 문법  
##  자료형  
줄바꿈  
* 스페이스 두번 or 역슬레쉬 

**숫자형**  
* 정수 : 123, 456, 0, -30  
* 실수 : 12.345, -987,65, 0.7e6
* 8진수 : 0o765, 0o123
* 16진수 : 0x0D, 0x0A, 0xFF

**변수**  
* 문자 또는 밑줄로 시작 가능함 [(ex) _kim, alpha 등등]
* 대소문자 구분 ( sum, Sum, SUM 다 다르게 인식한다 )
* 영문자, 숫자, 밑줄 ( A~Z, 0~9, _ )
 ex) sun_9, Alpha, s9n 등이 가능 
* 파이썬 키워드 (print...)


**표기법**  
표기법은 편한것 사용하면 된다.  
+ 카멜(낙타) 표기법 : myName (두번째 단어를 대문자로 낙타등 처럼)
+ 스네이크(뱀) 표기법 : my_name (밑줄을 넣어 표기)
+ 파스칼 표기법 : MyName (두단어 모두 대문자로 표기)

In [1]:
a = 10
b = 20
f = "10"
c = a + b

In [7]:
a = 10
b = 20
c = "10"
d = "20"
print(a+b)
print(type(a))
print(type(c))
print(c+d)
print(c,d)

30
<class 'int'>
<class 'str'>
1020
10 20

In [10]:
# 나눗셈
a = 10
b = 3
c = a / b
d = a // b # 몫
e = a % b # 나머지
print(c)
print(d)
print(e)

3.3333333333333335
3
1

In [11]:
# 곱셈
a = 10
b = 3
c = a * b #곱하기
d = a ** b # 제곱
print (c,d)

30 1000

#### 문자열
1. 큰 따옴표 : "권혁민"
2. 작은 따옴표 : '권혁민'
3. 큰 따옴표 3개 : """권혁민"""
4. 작은 따옴표 3개 : '''권혁민'''
5. " 동해물과 백두산이 마르고 닳도록 우리나라 좋은나라 "

In [18]:
# 변수  
myName = "Kwon HyeokMin"
my_name = "권혁민"
_my_name = "권혁민"
MYNAME = "권혁민"
my2name = "권혁민"  

 # 안되는 예시들
 # 2myname = "권혁민"
 # my-name = "권혁민"  

myName1 = 1234
myName2 = "1234"
print(type(myName1))
print(type(myName2))

<class 'int'>
<class 'str'>

변수할당

In [19]:
a=b=c= "브라보콘"
print(a)
print(b)
print(c)

브라보콘
브라보콘
브라보콘

In [20]:
x,y,z="딸기","포도","바나나"
print(x)
print(y)
print(z)

딸기
포도
바나나

In [21]:
fruits = ["누가바","쌍쌍바","보석바"]
x,y,z = fruits
print(x)
print(y)
print(z)

누가바
쌍쌍바
보석바

In [22]:
x = "life"
y = "is"
z = "beautiful!"
print(x,y,z)
print(x+y+z)
# print() 안에서 , 는 한칸 띄어쓰고 + 는 붙여쓴다

life is beautiful!
lifeisbeautiful!

In [23]:
a = 1
b = 2
c = 3
print(a+b+c)
print(a,b,c)

6
1 2 3

In [24]:
a = '1'
b = '2'
c = '3'
print(a+b+c)
print(a,b,c)

123
1 2 3

In [25]:
# len  길이를 알 수 있다

a = "123456"
b = [2,3,4,5]
print(len(a))
print(len(b))

6
4

In [29]:
# 계산기
a = 100
b = 200
result = a+b
print(a,'+',b,'=',result)
result = a - b
print(a,'-',b,'=',result)
result = a / b
print(a,'/',b,'=',result)
result = a * b
print(a,'*',b,'=',result)

100 + 200 = 300
100 - 200 = -100
100 / 200 = 0.5
100 * 200 = 20000

In [30]:
a = "1234"
b = 5678
c = int(a) + b
print(c)

6912

In [40]:
# 계산기 2  - input은 사용자가 숫자를 입력하는것
num1 = input("숫자입력1: ")
num2 = input("숫자입력2: ")

print(type(num1))
a = int(num1)
b = int(num2)
result = a + b;
print(a,'+',b,'=',result)
result = a - b;
print(a,'-',b,'=',result)
result = a * b;
print(a,'*',b,'=',result)
result = a / b;
print(a,'/',b,'=',result)

숫자입력1: 10
숫자입력2: 2
<class 'str'>
10 + 2 = 12
10 - 2 = 8
10 * 2 = 20
10 / 2 = 5.0

In [57]:
# 자기이름, 전화번호, 키 x 100
name = input("이름: ")
result = name
number = input("전화번호: ")
result = number
num1 = input("택배(g)x100: ")
a = int(num1)
result = int(num1)*100
print("결과값 =", a,"X 100원 =",result,"원 입니다.")

이름: asd
전화번호: asd
택배(g)x100: 10
결과값 = 10 X 100원 = 1000 원 입니다.