<a href="https://colab.research.google.com/github/khm9309/A/blob/main/py_a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#CH1. 파이썬 문법  
##  자료형  
줄바꿈  
* 스페이스 두번 or 역슬레쉬 

**숫자형**  
* 정수 : 123, 456, 0, -30  
* 실수 : 12.345, -987,65, 0.7e6
* 8진수 : 0o765, 0o123
* 16진수 : 0x0D, 0x0A, 0xFF

**변수**  
* 문자 또는 밑줄로 시작 가능함 [(ex) _kim, alpha 등등]
* 대소문자 구분 ( sum, Sum, SUM 다 다르게 인식한다 )
* 영문자, 숫자, 밑줄 ( A~Z, 0~9, _ )
 ex) sun_9, Alpha, s9n 등이 가능 
* 파이썬 키워드 (print...)


**표기법**  
표기법은 편한것 사용하면 된다.  
+ 카멜(낙타) 표기법 : myName (두번째 단어를 대문자로 낙타등 처럼)
+ 스네이크(뱀) 표기법 : my_name (밑줄을 넣어 표기)
+ 파스칼 표기법 : MyName (두단어 모두 대문자로 표기)

In [ ]:
a = 10
b = 20
f = "10"
c = a + b

In [ ]:
a = 10
b = 20
c = "10"
d = "20"
print(a+b)
print(type(a))
print(type(c))
print(c+d)
print(c,d)

30
<class 'int'>
<class 'str'>
1020
10 20

In [ ]:
# 나눗셈
a = 10
b = 3
c = a / b
d = a // b # 몫
e = a % b # 나머지
print(c)
print(d)
print(e)

3.3333333333333335
3
1

In [ ]:
# 곱셈
a = 10
b = 3
c = a * b #곱하기
d = a ** b # 제곱
print (c,d)

30 1000

#### 문자열
1. 큰 따옴표 : "권혁민"
2. 작은 따옴표 : '권혁민'
3. 큰 따옴표 3개 : """권혁민"""
4. 작은 따옴표 3개 : '''권혁민'''
5. " 동해물과 백두산이 마르고 닳도록 우리나라 좋은나라 "

In [ ]:
# 변수  
myName = "Kwon HyeokMin"
my_name = "권혁민"
_my_name = "권혁민"
MYNAME = "권혁민"
my2name = "권혁민"  

 # 안되는 예시들
 # 2myname = "권혁민"
 # my-name = "권혁민"  

myName1 = 1234
myName2 = "1234"
print(type(myName1))
print(type(myName2))

<class 'int'>
<class 'str'>

변수할당

In [ ]:
a=b=c= "브라보콘"
print(a)
print(b)
print(c)

브라보콘
브라보콘
브라보콘

In [ ]:
x,y,z="딸기","포도","바나나"
print(x)
print(y)
print(z)

딸기
포도
바나나

In [ ]:
fruits = ["누가바","쌍쌍바","보석바"]
x,y,z = fruits
print(x)
print(y)
print(z)

누가바
쌍쌍바
보석바

In [ ]:
x = "life"
y = "is"
z = "beautiful!"
print(x,y,z)
print(x+y+z)
# print() 안에서 , 는 한칸 띄어쓰고 + 는 붙여쓴다

life is beautiful!
lifeisbeautiful!

In [ ]:
a = 1
b = 2
c = 3
print(a+b+c)
print(a,b,c)

6
1 2 3

In [ ]:
a = '1'
b = '2'
c = '3'
print(a+b+c)
print(a,b,c)

123
1 2 3

In [ ]:
# len  길이를 알 수 있다

a = "123456"
b = [2,3,4,5]
print(len(a))
print(len(b))

6
4

In [ ]:
# 계산기
a = 100
b = 200
result = a+b
print(a,'+',b,'=',result)
result = a - b
print(a,'-',b,'=',result)
result = a / b
print(a,'/',b,'=',result)
result = a * b
print(a,'*',b,'=',result)

100 + 200 = 300
100 - 200 = -100
100 / 200 = 0.5
100 * 200 = 20000

In [ ]:
a = "1234"
b = 5678
c = int(a) + b
print(c)

6912

In [3]:
# 계산기 2  - input은 사용자가 숫자를 입력하는것
num1 = input("숫자입력1: ")
num2 = input("숫자입력2: ")

print(type(num1))
a = int(num1)
b = int(num2)
result = a + b;
print(a,'+',b,'=',result)
result = a - b;
print(a,'-',b,'=',result)
result = a * b;
print(a,'*',b,'=',result)
result = a / b;
print(a,'/',b,'=',result)

숫자입력1: 1
숫자입력2: 2
<class 'str'>
1 + 2 = 3
1 - 2 = -1
1 * 2 = 2
1 / 2 = 0.5

In [ ]:
# 자기이름, 전화번호, 키 x 100
name = input("이름: ")
result = name
number = input("전화번호: ")
result = number
num1 = input("택배(g)x100: ")
a = int(num1)
result = int(num1)*100
print("결과값 =", a,"X 100원 =",result,"원 입니다.")

이름: asd
전화번호: asd
택배(g)x100: 10
결과값 = 10 X 100원 = 1000 원 입니다.

# CH2. 서식 출력 print()

In [ ]:
print("%d" % 123)
print("%5d" % 123)
print("%05d" % 123)

print("%f" % 123.45)
print("%7.1f" % 123.45)
print("%7.3f" % 123.45)

print("%c" % "1")
print("%s" % "가나다라")
print("%6s" % "abcd")

123
  123
00123
123.450000
  123.5
123.450
1
가나다라
  abcd

####순서 지정 기능 : format

In [ ]:
print( "{0:d}, {1:5d}, {2:05d}". format(123,456,789) )
print( "{2:d}, {1:5d}, {0:05d}". format(123,456, 789) )
print( "{2},{1:5s}, {0:05d}". format(123,"456", "a", 789) )

123,   456, 00789
789,   456, 00123
a,456  , 00123

서식출력

In [ ]:
print("\n줄 바꿈 명령어 \n연습 입니다")

줄 바꿈 명령어
연습 입니다

In [ ]:
print("\t탭키 명령 연습입니다.")

	탭키 명령 연습입니다.

In [ ]:
print("따옴표 글자가 \"강조\"되는 효과")
print("따옴표 글자가 \'강조\"되는 효과")
print("역슬레쉬 3개를 출력하려면 \\\\\\ 6개")
print(r"\n \t \" \\ \' @를 그대로 출력")

따옴표 글자가 "강조"되는 효과
따옴표 글자가 '강조"되는 효과
역슬레쉬 3개를 출력하려면 \\\ 6개
\n \t \" \\ \' @를 그대로 출력

#### 관계 연산자

In [ ]:
a,b=10,20
print(a==b,a!=b,a>=b,a<=b,a>b,a<b)

False True False True False True

#### 논리연산자 and ,or ,not

In [ ]:
a=150
print((a>100) and (a<200)) #100<a<200
print((a<100) or (a>200)) # a<100, 200<a
print(not(a==100)) # a<100, 100<a

True
False
True

In [ ]:
## if -> 0이 아닌 숫자는 참이다
if(120):
  print("참이면 실행되어 보임 거짓이면 실행을 안한다")
if(0):
  print("거짓이다")

참이면 실행되어 보임 거짓이면 실행을 안한다

#### 퀴즈2 // 몫 % 나머지  
money = int(input("입력: "))   
지폐 금액 입력 후 동전으로 교환시 최소화해서 동전을 출력하게끔  
(500원, 100원, 50원, 10원)  
money, c500, c100, c50, c10  
받은돈 : ?원  
500원 : ?개  
100원 : ?개  
50원 : ?개  
10원 : ?개  
나머지 : ?원

In [ ]:
money,c500,c100,c50,c10=0,0,0,0,0
money = int(input("동전으로 교환할 돈: "))
temp = money
c500 = money // 500 # 몫
money %= 500 #money = money % 500 왼쪽 식과 같은 뜻
c100 = money // 100
money %= 100
c50 = money // 50
money %= 50
c10 = money // 10
money %= 10

print("입력받은 돈은 %d원" % temp )
print("500원 동전 :%d" % c500, "개")
print("100원 동전 :%d" % c100, "개")
print("50원 동전 :%d" % c50, "개")
print("10원 동전 :%d" % c10, "개")
print("나머지 잔돈 : %d" % money, "원")

동전으로 교환할 돈: 2564
입력받은 돈은 2564원
500원 동전 :5 개
100원 동전 :0 개
50원 동전 :1 개
10원 동전 :1 개
나머지 잔돈 : 4 원

### 조건문

In [ ]:
a = 50
if(a < 100):
  print("100보다 작으면 참")
  print("거짓이면 이문장은 보이지 않음")
print("프로그램 끝")

100보다 작으면 참
거짓이면 이문장은 보이지 않음
프로그램 끝

In [ ]:
a = 200
if(a<100):
  print("참 : 100보다 작음")
else :
  print("거짓 : 100보다 큼")
print("프로그램 끝")

거짓 : 100보다 큼
프로그램 끝

In [ ]:
## 홀짝 구분
a = int(input("숫자 입력 :"))
b = a % 2
if(b==0):
  print("짝수 입니다.")
else:
  print("홀수 입니다.")

숫자 입력 :123
홀수 입니다.

In [ ]:
a = int(input("숫자 입력:"))
if(a > 50):
  if(a<100):
    print("50<a<100")
  else:
    print("a>100")
else:
  if(a>25):
   print("25<a<50")
  else:
   print("a<25")
print("프로그램 끝")

숫자 입력:30
25<a<50
프로그램 끝

In [ ]:
fruit = ['사과','배','샤인머스켓','바나나']
fruit.append('망고')   #빠진 것을 추가할 떄 append 사용
if '망고' in fruit :
  print("망고가 있습니다.")
else:
  print("망고가 없습니다.")
print(fruit)

망고가 있습니다.
['사과', '배', '샤인머스켓', '바나나', '망고']

In [ ]:
for i in range(1,10,2): # 초기값, 최대값, 증가값 ->증가값이 1일 경우 생략도 가능하다.
  print("%d 안녕하세요." % i)
print("환영합니다.^^*")

1 안녕하세요.
3 안녕하세요.
5 안녕하세요.
7 안녕하세요.
9 안녕하세요.
환영합니다.^^*

In [ ]:
import random
num = []
for i in range(0,6):
  num.append(random.randrange(1,46))
print("생성 리스트", num)

생성 리스트 [11, 31, 38, 43, 13, 13]

In [ ]:
for i  in range(1,9,1):
  print("%d" % i, end='\t')
print("\n")
for i  in range(1,9,1):
  print("%d" % i, end='\t')

1	2	3	4	5	6	7	8

1	2	3	4	5	6	7	8

In [ ]:
sum = 0
for i in range(1, 11, 1): #10까지 출력하고 싶으면 0부터 시작이므로 최대값 11로 입력
  sum = sum + i
print("1부터 10까지의 합: %d" % sum)

1부터 10까지의 합: 55

In [ ]:
sum, num = 0, 0
num = int(input("숫자입력:"))
for i in range(1, num+1, 1): # 0부터 시작이므로 num +1 꼭 1을 더해야 한다.
  sum = sum + i
print("1~",num,"까지의 합: %d" % sum)

숫자입력:1000
1~ 1000 까지의 합: 500500

In [ ]:
##구구단
i,j = 2,0
for j in range(1, 10, 1):
  print("%d x %d = %2d" % (i,j,i*j))

2 x 1 =  2
2 x 2 =  4
2 x 3 =  6
2 x 4 =  8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [ ]:
a,b=0,0
#k= int(input("구구단 단수 입력 : "))
for a in range(1,10):
  for b in range(2,6):
    print("%d x %d = %2d" % (b,a,a*b), end="\t")
  print("")
print("\n")
c,d=0,0
for c in range(1,10):
  for d in range(6,10):
    print("%d x %d = %2d" % (d,c,c*d), end="\t")
  print("")

2 x 1 =  2	3 x 1 =  3	4 x 1 =  4	5 x 1 =  5
2 x 2 =  4	3 x 2 =  6	4 x 2 =  8	5 x 2 = 10
2 x 3 =  6	3 x 3 =  9	4 x 3 = 12	5 x 3 = 15
2 x 4 =  8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45


6 x 1 =  6	7 x 1 =  7	8 x 1 =  8	9 x 1 =  9
6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

# CH3. 자료형

## 1. 리스트 인덱스, 슬라이싱

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
print(a)
print(a[0])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
1

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
print(a[-1])
print(a[-2])

9
8

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
print(a[0:9:2])
print(a[1:9:2])

[1, 3, 5, 7, 9]
[2, 4, 6, 8]

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
print(a[:4])
print(a[5:])

[1, 2, 3, 4]
[6, 7, 8, 9]

In [ ]:
a = [1,2,3,4,5,6,7,8,9]
print(len(a))
print(len(a)-1)

9
8

In [ ]:
b = [1,2,3,4,5,6]
b[0] = "apple"
b[1] = 99
b[5] = [1,2,3]
print(b)

['apple', 99, 3, 4, 5, [1, 2, 3]]

In [ ]:
a = [1,2,3]
b = [4,5,6]
c = a + b
print(a+b)
print(c)
print(c*3)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

#함수 이용

In [ ]:
k = ["a","b","c","d","c"]
k.remove("c")
k.append("f")
print(k)

['a', 'b', 'd', 'c', 'f']

In [ ]:
j = "God is love!"
print(j[:3])
print(j[4:6])
print(j[7:])

God
is
love!

In [ ]:
j = " God is love! "
print(j.upper()) # 모두 대문자로
print(j.lower()) # 모두 소문자로
print(j.strip()) # 양옆의 공백을 없앤다다

 GOD IS LOVE!
 god is love!
God is love!

In [ ]:
a = ["apple", "banana", "cherry"]
a.append("Orange")
print(a)

['apple', 'banana', 'cherry', 'Orange']

In [ ]:
a = ["apple", "banana", "cherry"]
a.insert(1,"Orange") #지정한곳에 삽입
print(a)

['apple', 'Orange', 'banana', 'cherry']

In [ ]:
a = ["apple", "banana", "cherry", "banana"]
a.remove("banana") # 앞순서부터 지정된 값이 있으면 삭제한다.(전체 삭제가 아닌 앞에서부터 정해진 자료 첫번째만 삭제)
print(a)

['apple', 'cherry', 'banana']

In [ ]:
a = ["apple", "banana", "cherry"]
a.pop() #맨뒤 지움
print(a)
a.pop(1) #맨뒤에서 첫번째 자료(정해진 순서의 자료 0부터 시작이므로 뒤에서 두번째) 지움
print(a)

['apple', 'banana']
['apple']

In [ ]:
fruit = ["사과", "배", "오렌지"] # for문 안에 넣었으므로 하나씩 출력되었다
for i in fruit:
  print(i)

사과
배
오렌지

In [ ]:
fruit = ["감", "밤", "대추"] # for i in  range(1,10,2): -> 1부터 10까지 2칸마다 하나씩 출력 이란 뜻이므로 아래는 fruit 리스트의 길이가 3이므로 3번 출력된 것이다.
for i in range(len(fruit)):
  print(fruit)

['감', '밤', '대추']
['감', '밤', '대추']
['감', '밤', '대추']

In [ ]:
a = [7,5,3,8,2,0,1,4,6,9]
a.sort()
print(a)
a.sort(reverse = True)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [ ]:
fruit = ["Kiwi", "apple", "Orange", "banana"]
fruit.sort() #문자를 알파벳 순서로 나열하나 대문자를 우선시 한다
print(fruit)
fruit.sort(key=str.lower) #문자를 대소문자 구분 없이 알파벳 순서로 나열한다
print(fruit)
fruit.reverse() #나열된 문자를 반대로 다시 나열한다다
print(fruit)

['Kiwi', 'Orange', 'apple', 'banana']
['apple', 'banana', 'Kiwi', 'Orange']
['Orange', 'Kiwi', 'banana', 'apple']

In [ ]:
# List 복사
fruit = ["kiwi", "apple", "Orange", "banana"]
myList = fruit.copy()
print(myList)
cyList = list(fruit)
print(cyList)

['kiwi', 'apple', 'Orange', 'banana']
['kiwi', 'apple', 'Orange', 'banana']

## 2. Tuple 튜플

리스트와 비슷하지만 값을 변경할 수 없는 특징이 있다 (삭제 추가 불가능)  
튜플은 *소괄호*를 사용한다 (중요! 괄호 차이로 리스트와 튜플을 분류한다)  
ex) t = ( 1,2,3 )  
type t 로 분류한다 (list 는 타입이 L 이다)  
리스트에서 활용하는 여러함수들도 튜플에서 사용불가한다  
상수적인 특성이 있어 연산이 빠르다  
값의 변경이 불가능하지만 100프로는 아님 (특정함수로만 변경 가능)

In [ ]:
l = [1,2,3]
t = (5,6,7)
print(type(l))
print(type(t))

<class 'list'>
<class 'tuple'>

In [ ]:
l = [1,2,3]
t = (5,6,7)
l[0] = 4
# t[0] = 8 튜플은 변경이 불가능 하다다
print(l)
print(t)

[4, 2, 3]
(5, 6, 7)

In [ ]:
f = ("apple", "banana", "cherry") #튜플 자료형도 길이는 동일하게 구할 수 있다.
print(len(f))

3

In [ ]:
# 하나의 자료만 사용할 때에는는 튜플로 인식하려면 사용하려면 자료료 뒤에 ',' (콤마) 가 반드시 필요하다 콤마없이 자료하나만 넣을경우 스트링으로 인식한다.
t = ("Kiwi")
print(t)
print(type(t))
T = ("Kiwi",)
print(T)
print(type(T))

Kiwi
<class 'str'>
('Kiwi',)
<class 'tuple'>

In [ ]:
# 인덱싱 가능
f = ("banana", "apple", "kiwi", "cherry", "Orange")
print(f[:4])
print(f[2:])

('banana', 'apple', 'kiwi', 'cherry')
('kiwi', 'cherry', 'Orange')

In [ ]:
# if 문안에도 사용 가능 if, else 뒤에는 ':' 를 꼭 넣어야 한다.
f = ("banana", "apple", "kiwi", "cherry", "Orange")
if "apple" in f:
  print("Yes")
else:
  print("no")

Yes

## Tuple <-> List
튜플을 리스트로 변경하는 방법  
튜플을 변경하려면 리스트로 변환하여 내용을 변경한 후  
다시 튜플로 변환 하여야 한다.

In [ ]:
# 튜플에 추가하는 방법  (튜플을 아래처럼 리스트로 변경후 자료 추가한 다음 다시 튜플로 변환한다)
t = ("apple", "banana", "cherry")
y = list(t)
print(type(y))
y.append("Orange")
t = tuple(y)
print(t)

<class 'list'>
('apple', 'banana', 'cherry', 'Orange')

In [ ]:
# List -> Tuple
company = ["LG", "SK", "Apple"]
t = tuple(company)
print(company)
print(type(company))
print(t)
print(type(t))

['LG', 'SK', 'Apple']
<class 'list'>
('LG', 'SK', 'Apple')
<class 'tuple'>

In [ ]:
c = ("LG", "SK", "Apple")
d = ("Samsung",)  # 튜플 자료형 하나면 꼭 뒤에 콤마 넣기
c +=d # 왼쪽은 c = c + d 를 간략화 한 식이다.
print(c)

('LG', 'SK', 'Apple', 'Samsung')

In [ ]:
t = ("감", "밤", "대추")
l = list(t)
l.remove("대추")
t = tuple(l)
print(t)

('감', '밤')

## 3. Dict 사전자료형
정수형 인덱스가 아닌 키로 값을 저장하기 때문에  
저장된 자료의 순서는 의미가 없다.  
중괄호로 정의한다 -> d = {'a'=1, 'b'=2, 'c'=3}  
키와 값으로 저장!  
여기서 사전자료형의 키 값은 변경이 불가능한 객체이다  
값의 추가 수정이 매우 용이함  
기존의 키에 값을 넣으면 값이 변경됨  
기존에 없는 키를 넣으면 추가하여 저장된다  
(Keys, Values, items)로 값을 불러올 수 있다

In [ ]:
d = {
    "a":1,
    "b":2,
    "c":3
}
print(d)
print(type(d))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

In [ ]:
d = {
    "a":1,
    "b":2,
    "c":3
}
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])

In [ ]:
car = {
    "maker" : "Hyundai",
    "model" : "Pony2",
    "year" : 1994
}
print(car)
print(len(car))
car["year"] = 2000
print(car)
car["color"] = "blue"
print(car)
print(car["maker"])

{'maker': 'Hyundai', 'model': 'Pony2', 'year': 1994}
3
{'maker': 'Hyundai', 'model': 'Pony2', 'year': 2000}
{'maker': 'Hyundai', 'model': 'Pony2', 'year': 2000, 'color': 'blue'}
Hyundai

In [ ]:
car = {
    "maker" : "BMW",
    "model" : "740Li",
    "year" : 2023
}
car.pop("model") # 해당 키 값 삭제제
print(car)

{'maker': 'BMW', 'year': 2023}

In [ ]:
car = {
    "maker" : "BMW",
    "model" : "740Li",
    "year" : 2023
}
car.popitem()  # 맨뒤에있는 자료 삭제
print(car)

{'maker': 'BMW', 'model': '740Li'}

In [ ]:
car = {
    "maker" : "BMW",
    "model" : "740Li",
    "year" : 2023
}
car.clear()
print(car)
car["maker"] = "KIA"
print(car)

{}
{'maker': 'KIA'}

In [ ]:
car = {
    "maker" : "BMW",
    "model" : "740Li",
    "year" : 2023
}
del car
## print(car) -> car 항목 자체가 지워지기 때문에 출력할 수 없다 (없는 항목을 출력하라고 인식하기 때문)

In [ ]:
car = {
    "maker" : "BMW",
    "model" : "i4",
    "year" : 2023
}
for x in car:
  print(car[x])
  # for 문을 사용하여 car 안의 '값'을 전부 출력

BMW
i4
2023

In [ ]:
car = {
    "maker" : "BMW",
    "model" : "i4",
    "year" : 2023
}
for x in car.keys():
  print(x)
  # for 문을 사용하여 key값만 가져와 출력

maker
model
year

In [ ]:
car = {
    "maker" : "BMW",
    "model" : "i4",
    "year" : 2023
}
for x in car.values():
  print(x)
  # for 문을 사용하여 value값만 가져와 출력

BMW
i4
2023

In [ ]:
car = {
    "maker" : "BMW",
    "model" : "i4",
    "year" : 2023
}
for x,y in car.items():
  print(x,y)
  # for 문을 사용하여 item값을 가져와 출력. items는 값이 한쌍이므로 임의의 값을 x,y두개를 넣어줘야 한다.

maker BMW
model i4
year 2023

In [ ]:
car = {
    "maker" : "BMW",
    "model" : "i4",
    "year" : 2023
}
myCar = car.copy()
print(myCar)
# 복사하는 방법은 동일하다

{'maker': 'BMW', 'model': 'i4', 'year': 2023}

In [ ]:
food = {
    "brand" : "Lotte",
    "model" : "Ice Cream",
    "Price" : 2000
}
myFood = dict(food)
print(myFood)

{'brand': 'Lotte', 'model': 'Ice Cream', 'Price': 2000}

In [ ]:
name1 = {"name":"김삿갓", "year":1900}
name2 = {"name":"홍길동", "year":1800}
name3 = {"name":"김유진", "year":2000}
family = {
    "name1" : name1,
    "name2" : name2,
    "name3" : name3
}
print(family)

{'name1': {'name': '김삿갓', 'year': 1900}, 'name2': {'name': '홍길동', 'year': 1800}, 'name3': {'name': '김유진', 'year': 2000}}

In [ ]:
name = {}
for i in range(0,3):
  a= input("이름: "),
  b= input("전화번호: ")
  name[a]=b
print (name)

이름: 권
전화번호: 1
이름: 혁
전화번호: 2
이름: 민
전화번호: 3
{('권',): '1', ('혁',): '2', ('민',): '3'}

#CH4 조건문 반복문
1. 조건문

In [ ]:
a = int(input("숫자입력:"))

if a>50:
  if a<100:
    print("50보다 크고 100보다 작군요.")
  else:
    print("와~~ 100보다 크군요.")
else :
  print("에고~ 50이하 군요.")

숫자입력:20
에고~ 50이하 군요.

In [ ]:
# 성적처리
score = int(input("점수를 입력해 주세요:"))

if score > 100:
  print("0~100점까지 숫자를 입력해주세요.")
elif score>=90:
  print("A",end='')
elif score>=80:
  print("B",end='')
elif score>=70:
  print("C",end='')
elif score>=60:
  print("D",end='')
else:
  print("F")
print("학점, 점수는 %d점 입니다."% score)

점수를 입력해 주세요:100
A학점, 점수는 100점 입니다.

In [ ]:
import random

numbers = []
for num in range(0,10):
  numbers.append(random.randrange(0,10))  #랜덤으로 0~10까지의 수를 append(추가) 한다.
print("생성된 리스트", numbers)

for num in range(0,10):
  if num not in numbers:
    print("숫자 %d 는 리스트에 없습니다." % num)
  else:
    print("숫자 %d 는 리스트에 있습니다" % num )

생성된 리스트 [1, 6, 5, 4, 1, 0, 9, 0, 0, 1]
숫자 0 는 리스트에 있습니다
숫자 1 는 리스트에 있습니다
숫자 2 는 리스트에 없습니다.
숫자 3 는 리스트에 없습니다.
숫자 4 는 리스트에 있습니다
숫자 5 는 리스트에 있습니다
숫자 6 는 리스트에 있습니다
숫자 7 는 리스트에 없습니다.
숫자 8 는 리스트에 없습니다.
숫자 9 는 리스트에 있습니다

In [ ]:
#조건문 이용, eval()
select, answer, num1, num2, numStr = 0,0,0,0,""
select = int(input("1.입력한 수식계산, 2.두수 사이의 모든 수의 합"))
if(select==1):
  numStr = input("수식을 입력하세요(1+1):")
  answer = eval(numStr) # 1+2, "s"+"t" 등 숫자 문자 상관없이 계산을 해주는 함수
  print("%s 결과는 %5.1f 입니다." % (numStr, answer))

elif(select==2):
  num1 = int(input("*첫번째 숫자를 입력하세요:"))
  num2 = int(input("**두번째 숫자를 입력하세요:"))
  for k in range(num1,num2+1):
    answer = answer + k
  print("%d+...+%d는 %d 입니다." % (num1,num2,answer))
else:
  print("1 또는 2 만 입력하세요")

1.입력한 수식계산, 2.두수의 합2
*첫번째 숫자를 입력하세요:3
**두번째 숫자를 입력하세요:4
3+...+4는 7 입니다.

In [ ]:
#반복문
for i in range(0,3,1):
  print("안녕!! %d" % i)

안녕!! 0
안녕!! 1
안녕!! 2

In [ ]:
for i in [0,3,1]:     #리스트 값을 그대로 불러옴옴
  print("안녕!! %d" % i)

안녕!! 0
안녕!! 3
안녕!! 1

In [ ]:
for i in range(0,3,1):
  for j in range(0,2,1):
    for k in range(0,3,1):
      print("i:%d, j:%d, k:%d" % (i,j,k))

i:0, j:0, k:0
i:0, j:0, k:1
i:0, j:0, k:2
i:0, j:1, k:0
i:0, j:1, k:1
i:0, j:1, k:2
i:1, j:0, k:0
i:1, j:0, k:1
i:1, j:0, k:2
i:1, j:1, k:0
i:1, j:1, k:1
i:1, j:1, k:2
i:2, j:0, k:0
i:2, j:0, k:1
i:2, j:0, k:2
i:2, j:1, k:0
i:2, j:1, k:1
i:2, j:1, k:2

In [ ]:
i,j=0,0
for i in range(2,10,1):
  for j in range(1,10,1):
    print("%dx%d=%2d  " % (i,j,i*j),end='')
  print("")

2x1= 2  2x2= 4  2x3= 6  2x4= 8  2x5=10  2x6=12  2x7=14  2x8=16  2x9=18
3x1= 3  3x2= 6  3x3= 9  3x4=12  3x5=15  3x6=18  3x7=21  3x8=24  3x9=27
4x1= 4  4x2= 8  4x3=12  4x4=16  4x5=20  4x6=24  4x7=28  4x8=32  4x9=36
5x1= 5  5x2=10  5x3=15  5x4=20  5x5=25  5x6=30  5x7=35  5x8=40  5x9=45
6x1= 6  6x2=12  6x3=18  6x4=24  6x5=30  6x6=36  6x7=42  6x8=48  6x9=54
7x1= 7  7x2=14  7x3=21  7x4=28  7x5=35  7x6=42  7x7=49  7x8=56  7x9=63
8x1= 8  8x2=16  8x3=24  8x4=32  8x5=40  8x6=48  8x7=56  8x8=64  8x9=72
9x1= 9  9x2=18  9x3=27  9x4=36  9x5=45  9x6=54  9x7=63  9x8=72  9x9=81

In [ ]:
# while 문
j = 0
while j<3:
  print("%d : while문" %j)
  j = j+1

0 : while문
1 : while문
2 : while문

##Q : for, while 문으로 1~10까지의 합을 구하는  코드를 작성하시오.

In [ ]:
a,b,i,j = 0,0,0,0
for i in range(1,11):
  a = a + i
print("1~10까지의 합은 %d 입니다."% a)

b=0
while j < 10:
  j = j + 1
  b = b + j
print("1~10까지의 합은 %d 입니다."% b)

1~10까지의 합은 55 입니다.
1~10까지의 합은 55 입니다.

In [ ]:
while True:
  print("무한 루프", end='')
  break

무한 루프

##3. Continue, Break

In [ ]:
# break
for i in range(1,100):
  print ("for문 %d 번 실행" % i)
  break
  print("break 아래")
print("break 빠짐")

for문 1 번 실행
break 빠짐

In [ ]:
hap = 0
a,b = 0,0
while True:
  a=int(input("덧셈 첫번째 수 입력: "))
  if a==0:     # 첫번째 수 0 입력시 break 로 반복문 탈출
    break
  b=int(input("덧셈 두번째 수 입력: "))
  hap = a + b
  print("%d + %d = %d" % (a,b,hap))
print("break로 탈출")

덧셈 첫번째 수 입력: 1
덧셈 두번째 수 입력: 13
1 + 13 = 14
덧셈 첫번째 수 입력: 0
break로 탈출

In [ ]:
#continue
hap, i = 0,0
for i in range(1,11):
  if i%2 == 0:  # -> i를 2로 나눈 나머지가 0이면.
    print("i:%d"%i)
    continue #
  hap += i
print("1~10 합계(2의 배수 제외): %d" % hap)

i:2
i:4
i:6
i:8
i:10
1~10 합계(2의 배수 제외): 25

In [ ]:
fruits = ["감", "밤", "대추"]
for x in fruits:
  if x =="밤":
    continue # 밤은 건너뛰고 재실행한다.
  print(x)

감
대추

In [ ]:
for x in range(6):
  if x == 3:
    continue
  print(x)
else:
   print("continue 끝")
for y in range(6):
  if y == 3:
    break
  print(y)
else:
   print("break 끝")

0
1
2
4
5
continue 끝
0
1
2

In [ ]:
#pass for문 에러를 피하기 위해 실행하지 않을 때 사용
for x in[0,1,2]:
  pass

##4. 함수

In [ ]:
def plus(v1,v2):
  result = 0  #초기화를 시켜 다시 계산할 시 정상값이 나오게 하기 위함 (전의 값이 남아있으면 추가 사용시 정상작동 X )-> 재사용 목적.
  result = v1 + v2
  return result

hap = 0
hap = plus(1,2)
print("1 + 2 = %d" % hap)
hap = plus(4,8)
print("4 + 8 = %d" % hap)

1 + 2 = 3
4 + 8 = 12

In [ ]:
# 계산기 
def calc(v1,v2,op):
  result = 0
  if op == '+':
    result = v1 + v2
  elif op == '-':
    result = v1 - v2
  elif op == '/':
    result = v1 / v2
  elif op == '*':
    result = v1 * v2
  return result

rst = 0
var1, var2, opr = 0,0,""
opr = input("(+, -, /, *)입력: ")
var1 = int(input("1번째 숫자 입력: "))
var2 = int(input("2번째 숫자 입력: "))

rst = calc(var1,var2, opr)
print("계산결과 %d %s %d = %.2f 이다" % (var1,opr,var2,rst))

(+, -, /, *)입력: /
1번째 숫자 입력: 22
2번째 숫자 입력: 58
계산결과 22 / 58 = 0.38 이다

##Q: 0으로 나누면 메세지 출력, 계산되지 않고, 제곱(**)연산자 기능 추가, (숫자1, 연산자, 숫자2) 순서로 입력하게 변경

In [ ]:
# 계산기 
rst = 0
var1, var2, opr = 0,0,""
while True:
  var1 = int(input("1번째 숫자 입력: "))
  if var1 == 0:           # 첫번째 수 0 입력시 종료료
    break
  opr = input("(+, -, /, *, **)입력: ")
  var2 = int(input("2번째 숫자 입력: "))
  if opr == '/':
    if var2==0:             # 나눌 때 두번째 수가 0이면 재시작 
      print("0으로 나눌수 없습니다. 다시 입력해 주세요.")
      continue
  def calc(v1,v2,op):
    result = 0
    if op == '+':
      result = v1 + v2
    elif op == '-':
      result = v1 - v2
    elif op == '/':   
      result = v1 / v2
    elif op == '*':
      result = v1 * v2
    elif op == '**':
      result = v1 ** v2
    return result
  rst = calc(var1,var2, opr)
  print("계산결과 %d %s %d = %.2f 이다" % (var1,opr,var2,rst))

1번째 숫자 입력: 1
(+, -, /, *, **)입력: /
2번째 숫자 입력: 0
0으로 나눌수 없습니다. 다시 입력해 주세요.
1번째 숫자 입력: 1
(+, -, /, *, **)입력: +
2번째 숫자 입력: 2
계산결과 1 + 2 = 3.00 이다
1번째 숫자 입력: 1
(+, -, /, *, **)입력: **
2번째 숫자 입력: 3
계산결과 1 ** 3 = 1.00 이다
1번째 숫자 입력: 1
(+, -, /, *, **)입력: *
2번째 숫자 입력: 500
계산결과 1 * 500 = 500.00 이다
1번째 숫자 입력: 0

## CH5 파일 처리  
"r"-read, "w"-write, "a"-append(추가), "x"-create(생성), "t"-text, "b"-binary(이진수)  
위와같이 모드를 정의 할 수 있다.

In [3]:
#file write
from google.colab import files #colab 안에 파일 편집할 위치 지정 (파일을 아직 만들지 않음)

f = open("a.txt", "w")
f.write("123456")
f.close() # 파일 닫기

files.download('a.txt') # web안에 a.txt로 저장한다 (파일 생성)

In [5]:
#file read
from google.colab import files
f = open("a.txt",'r')
#f.readline() 한줄씩 읽는다
print(f.read())
f.close()

123456

In [6]:
#file append
from google.colab import files
f = open("a.txt",'a')
f.write("abcdef")
f.close()
f = open("a.txt",'r')
print(f.read())
f.close()

123456abcdef

In [7]:
# file create
from google.colab import files
f = open("b.txt",'x', encoding='UTF-8')
f.write("가나다라")
f.close()

f = open("b.txt",'r')
print(f.read())
f.close()

가나다라

In [9]:
#줄바꿈 입력
from google.colab import files
f = open("a.txt",'w')
#f.write("12345\nabcde\n가나다라")
f.write("""12345
abcde
가나다라""")
f.close

f = open("a.txt",'r')
#txt = f.readline() # readline = 한줄만 읽는다 -> 12345
txt = f.readlines() # readlines = 모두 읽는다 -> ['12345\n', 'abcde\n', '가나다라']

print(txt,end='')
f.close()

['12345\n', 'abcde\n', '가나다라']

In [10]:
# 리스트, 튜플 내용을 입력
from google.colab import files
t = ("1","2","3","4","\n")
l = ["a","b","c","d"]

f=open("a.txt",'w')
f.writelines(t)
f.writelines(l)
f.close()

f=open("a.txt",'r')
print(f.read())
f.close()

1234
abcd

In [11]:
from google.colab import files
f = open("a.txt",'w')
f.write("1234\nabcdefg\n가나다라")
f.close()

f = open("a.txt",'r')
print(f.readline()) #한줄이 비워서 나온다
print(f.readline())
f.close()

f = open("a.txt",'r')
print(f.readlines())
f.close()

1234

abcdefg

['1234\n', 'abcdefg\n', '가나다라']

In [13]:
from google.colab import files
import os
if os.path.exists("a.txt"):
    os.remove("a.txt")
else:
    print("파일이 없습니다.")

파일이 없습니다.

In [14]:
#파일의 존재 유무를 True/False 로 변환
import os
print(os.path.exists("a.txt"))
print(os.path.exists("b.txt"))

False
True

In [ ]:
#구구단 파일 저장
from google.colab import files
import sys

f = open("c.txt",'w', encoding='UTF-8')
sys.stdout = f
for i in range(2,10):
    for j in range(1,10):
        print("{} x {} = {}".format(i,j,i*j))
    print()
f.close()

In [1]:
# 하트 이모티콘 첨가
heart = "\u2665"
n = int(input())
for i in range(1, n+1):
    print(i*heart)

5
♥
♥♥
♥♥♥
♥♥♥♥
♥♥♥♥♥

In [2]:
# 하트 이모티콘 첨가
heart = "\u2665"
space = ' '
n = int(input())
for i in range(1, n+1):
    print((n-i)*space + i*heart)

5
    ♥
   ♥♥
  ♥♥♥
 ♥♥♥♥
♥♥♥♥♥